<div id='chessboard'>
<% ('a'..'h').each do |letter| %>
	<div class='board-row'> 
	<% (1..8).each do |number| %>
		<%= content_tag :div, '', id: "#{letter}#{number}", class: 'chessboard-space' %> 
	<% end %>
	</div>
<% end %>
</div>
